.image {
    --applied: 30px;
    --applied-r: var(--applied);
    mask-image: linear-gradient(to right, rgba(0,0,0,0) 0px, rgba(0,0,0,1) var(--applied), rgba(0,0,0,1) calc(100% - var(--applied-r)), rgba(0,0,0,0) 100%);
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0) 0px, rgba(0,0,0,1) var(--applied), rgba(0,0,0,1) calc(100% - var(--applied-r)), rgba(0,0,0,0) 100%);
}